In [34]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
import folium
import pickle
from sodapy import Socrata
from datetime import datetime


%matplotlib inline

In [2]:
with open ('app_token_dict.pkl', 'rb') as keys_file:
    app_token_dict2 = pickle.load(keys_file)

In [19]:
app_token_nash = app_token_dict2['datanash']
app_token_nash

'CGWAKUfOA7aOcmKOnAfLN0ZgA'

In [37]:
endpoint = "https://data.nashville.gov/resource/fuaa-r5cm.json?$where=query_count > 100"

In [38]:
params = {'$limit': 41177}

In [39]:
response = requests.get(endpoint, params = params)

In [40]:
response

In [41]:
res = response.json()

In [42]:
hundo = pd.DataFrame.from_records(res)
hundo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month_name   1161 non-null   object
 1   year         1161 non-null   object
 2   query_count  1161 non-null   object
 3   query_text   1161 non-null   object
 4   month        390 non-null    object
dtypes: object(5)
memory usage: 45.5+ KB

In [43]:
hundo

     month_name  year query_count            query_text month
0         March  2014         101               permits   NaN
1       January  2015         101  criminal court clerk   NaN
2     September  2015         101                 codes   NaN
3         March  2016         101                police   NaN
4         March  2016         101         civil service   NaN
...         ...   ...         ...                   ...   ...
1156  September  2018         750     annual enrollment   NaN
1157    October  2018         816     annual enrollment   NaN
1158    January  2019        2646             Nashville     1
1159  September  2019        5327             directory     9
1160  September  2019        5610                  test     9

[1161 rows x 5 columns]

### Occurred 1161 times